body{
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pdf-container{
    width: 2480px;
    height: 3508px;
}

.title-container{
    /*display: flex;*/
    margin-left: 10%;
    /*justify-content: space-between;*/
    width: 80%;
}

.title {
    color:#000000;
    width: 2480px;
    /* justify-content: space-between; */
    display: inline-block;
}

.title {
    width: 1000px;
    margin-left: 248px;
    color: #010101;
    font-size: 50px;
}

.boss-data{
    margin-left: 1840px;
    background-color: #010101;
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
    width: 890px;
    height: 240px;
    font-size: 25px;
}
.name-boss{
    font-size: 30px ;
}

.client-data{
    width: 2480px;
    display: inline-block;
    font-size: 25px;
    margin-left: 248px;
}

.table-date{
    margin-top: 30px;
    margin-bottom: 30px;
}

.table-date td{
    width: 827px;
    text-align: left;
    padding: 10px;
}

.table-quotation{
    border: #808080 1px solid;
    margin-left: 248px;
    width: 2480px;
}

.table-quotation tr:nth-child(even){
    background-color: #d3d3d3;
}

tr,td,th{
    padding: 40px;
    text-align: center;
}

.header-table{
    background-color: #0084ff;
    color: #f5f5dc;
    font-size: 25px;
}

.table-container{
    font-size: 25px;
    width: 2480px;
    margin-left: 248px;
    display: flex;
    justify-content: right;
}

.table-total{
    width: 496px;
    border-spacing: 0;
}

.row-total{
    background-color: #00a6ff;
    padding: 20px;
    color: #f5f5dc;
}

.tc-container{
    width: 2480px;
    margin-left: 248px;
}

h3{
    background-color: #000000d3;
    color: #f5f5dc;
    font-size: 30px;
}