body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    width: 80%;
}

.title {
    font-size: 60px;
}

.boss-data{
    background-color: black;
    color: aliceblue;
    text-align: center;
    width: 30%;
}