<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title th:text="${company.name}">Cotización</title>
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/quotation-template-styles.css" />
</head>

<body>

  <div class="title-container">

    <h1 class="title">COTIZACIÓN</h1>

    <div class="boss-data">

      <p class="name-boss">PEPITO PEREZ</p>
      <p>example@gmail.com</p>
      <p>Profesión</p>
      <p>Teléfono</p>

    </div>

  </div>

  <div class="client-data-container">

    <div class="client-data">
      <p>DATOS DEL CLIENTE:</p>
      <p>Juanito Jaramillo</p>
      <p>CC.39785245</p>
      <p>Cel:2949478843</p>
    </div>

    <div class="quotation-date-container">

      <table>

        <tr>
          <td>Cotización</td>
          <td>#132234</td>
        </tr>
        <tr>
          <td>Fecha</td>
          <td>12/02/2023</td>
        </tr>

      </table>
    </div>
  </div>

  <table class="table-quotation">

    <tr class="header-table">
      <th>Cantidad</th>
      <th>Unidad</th>
      <th>Descripcion</th>
      <th>Costo por unidad</th>
      <th>Total</th>
    </tr>

    <tr th:each="">
      <td th:text="">2</td>
      <td th:text="">m2</td>
      <td th:text="">JHDCKFBWSJCFNWDC</td>
      <td th:text="">3000</td>
      <td th:text="">3848275</td>
    </tr>

  </table>

  <div class="table-container">
    <table class="table-total">

      <tr>
        <td>Subtotal</td>
        <td>83783456</td>
      </tr>
      <tr>
        <td>Iva</td>
        <td>19</td>
      </tr>
      <tr class="row-total">
        <td>Total</td>
        <td>7236847265</td>
      </tr>
      
    </table>
  </div>

  <footer class="tc-container">
    <h3>Terminos y Condiciones</h3>
    <div>
      <p>El valor incluye todos los materiales de primera calidad.....</p>
    </div>
    </ooter>

</body>

</html>